@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body{
  text-align: center;
  font-family: "Inria Sans", sans-serif;
  background-color: #f6ebe0;
}
ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol li {
  font-family: "Inria Sans", sans-serif;
  padding: 0em 3em 0em 3em;
}

img {
  width: auto;
  height: auto;
}
.home {
  text-decoration: none;
  color: black;
}
.home :hover {
  color: lightblue;
}
a,
a :visited {
  text-decoration: none;
  color: darkblue;
}
a :hover {
  color: darkcyan;
}
